* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    color: #212529;
    line-height: 1.6;
}

.container {
    max-width: 700px;
    margin: 60px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #343a40;
}

#searchInput {
    width: calc(100% - 22px); /* Adjusted for padding and border */
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ced4da;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

#searchInput:focus {
    border-color: #80bdff;
    outline: none;
}
.buttons{
    display: flex;
    justify-content: center;
    column-gap: 10%;
}
button {
    display: block;
    width: 40%;
    padding: 10px 15px;
    font-size: 1rem;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838;
}

#result {
    margin-top: 30px;
    text-align: left;
}

.result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.result-container h2 {
    font-size: 1.5rem;
    color: #495057;
    margin-bottom: 10px;
}

.result-container p {
    text-align: justify;
    margin-bottom: 20px;
    font-size: 1rem;
    color: #6c757d;
}

.result-container a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.result-container a:hover {
    color: #0056b3;
}
